// symbol 引用 icon
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.app-wrap {
  height: 100%;
}

.clearfix:after {
  content: '';
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}
